/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

	
/*-- contact --*/
.contact{
	padding:6em 0;
}
.contact-w3 {
    padding-top: 3em;
}
.contact-left h4{
	font-size:2em;
	color:#000;
	margin-bottom:1em;
}
.contact-right iframe{
	width:100%;
	height:298px;
}
.contact-right img{
	margin-bottom:2em;
}
.contact_left h4 {
    color: #029241;
    font-size: 2em;
    margin-bottom: 0.7em;
}
.contact-left p {
    line-height: 2em;
    color: #999;
    font-size: 1em;
}
ul.contact-list li {
    display: inline-block;
    margin: 0 33px 0 0;
	font-size:1em;
	color:#999;
}
ul.contact-list li a{
	color:#999;
	text-decoration:none;
}
ul.contact-list {
    margin: 1em 0 2em;
}
ul.contact-list li i {
    color: #ED0612;
    margin-right: 15px;
    top: 2px;
}
ul.resp-tabs-list, p {
margin: 0px;
padding: 0px;
}
.resp-tabs-list li {
    font-weight: 600;
    font-size: 13px;
    display: inline-block;
    padding: 13px 15px;
    margin: 0 4px 0 0;
    list-style: none;
    cursor: pointer;
    float: left;
    width: 25%;
    text-align: center;
}
.resp-tabs-list li i{
    font-size: 1.8em;
    color: #FAB005;
    padding: 16px 0;
}
.resp-tabs-container {
	padding: 0px;
	background-color: #fff;
	clear: left;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
	padding: 2em;
}
.resp-tab-active {
	border: 1px solid #c1c1c1;
	border-bottom: none;
	margin-bottom: -1px !important;
}
.resp-tab-active {
	border-bottom: none;
	background-color: #fff;
}
.resp-content-active, .resp-accordion-active {
	display: block;
}
.resp-tab-content {
	border: 1px solid #c1c1c1;
}
h2.resp-accordion {
	font-size: 13px;
	border: 1px solid #c1c1c1;
	border-top: 0px solid #c1c1c1;
	margin: 0px;
	padding: 10px 15px;
}
h2.resp-tab-active {
	border-bottom: 0px solid #c1c1c1 !important;
	margin-bottom: 0px !important;
	padding: 10px 15px !important;
}
h2.resp-tab-title:last-child {
	border-bottom: 12px solid #c1c1c1 !important;
	background: blue;
}
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
	float: left;
	width: 30%;
}
.resp-vtabs .resp-tabs-list li {
	display: block;
	padding: 15px 15px !important;
	margin: 0;
	cursor: pointer;
	float: none;
}
.resp-vtabs .resp-tabs-container {
	padding: 0px;
	background-color: #fff;
	border: 1px solid #c1c1c1;
	float: left;
	width: 68%;
	min-height: 250px;
	border-radius: 4px;
	clear: none;
}
.resp-vtabs .resp-tab-content {
	border: none;
}
.resp-vtabs li.resp-tab-active {
	border: 1px solid #c1c1c1;
	border-right: none;
	background-color: #fff;
	position: relative;
	z-index: 1;
	margin-right: -1px !important;
	padding: 14px 15px 15px 14px !important;
}
.resp-arrow {
	width: 0;
	height: 0;
	float: right;
	margin-top: 3px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 12px solid #c1c1c1;
}
h2.resp-tab-active span.resp-arrow {
	border: none;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 12px solid #9B9797;
}
/*-----------Accordion styles-----------*/
h2.resp-tab-active {
	background: #DBDBDB !important;
}
.resp-easy-accordion h2.resp-accordion {
	display: block;
}
.resp-easy-accordion .resp-tab-content {
	border: 1px solid #c1c1c1;
}
.resp-easy-accordion .resp-tab-content:last-child {
	border-bottom: 1px solid #c1c1c1 !important;
}
.resp-jfit {
	width: 100%;
	margin: 0px;
}
.resp-tab-content-active {
	display: block;
}
h2.resp-accordion:first-child {
	border-top: 1px solid #c1c1c1 !important;
}
.contact-left input[type="text"],.contact-left input[type="email"] {
    border: 1px solid #CECECE;
    width: 48.7%;
    margin: 0 2% 2% 0%;
    outline: none;
    font-size: 13px;
    color: #5b5b5b;
    padding: 10px 12px;
    -webkit-appearance: none;
    background: none;
	float:left;
}
.contact-left input[type="email"]{
	 margin: 0 0% 2% 0%;
}
.contact-left textarea {
  border: 1px solid #CECECE;
  outline: none;
  font-size: 13px;
  color: #5b5b5b;
  padding: 10px 12px;
  width: 99%;
  resize: none;
  height: 180px;
  -webkit-appearance: none;
  background:none;
}
.contact-left input[type="submit"] {
    border: none;
    padding: 9px 0;
    width: 22%;
    margin-top: 0.5em;
    font-size: 1em;
    color: #fff;
    letter-spacing: 1px;
    outline: none;
    background: #029241;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
	-webkit-appearance: none;
}
.contact-left input[type="submit"]:hover{
    background:#FAB005;	
}
.contact-left h5 {
    color: #029241;
    font-size: 1.5em;
    margin-bottom: 0.7em;
}
.map-grid ul li{
	display:block;
	line-height:2.2em;
	color: #999;
    font-size: 1em;
}
.map-grid ul li i{
	color:#ED0612;
	margin-right:15px;
}
/*-- //contact --*/
